.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: rgb(2, 15, 132);
  padding: 15px 7%;
}
.navbar h2 {
  margin: 0;
  color: #fff;
}

.search-box {
  display: flex;
  align-items: center;
  width: 750px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: #d9d8d8;
  padding: 10px 20px;
  border-radius: 50px;
}
.search-box input {
  flex: 1;
  background: transparent;
  color: black;
  border: 0;
  outline: 0;
  font-size: 18px;
  margin-left: 10px;
}

.navbar-buttons {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center; /* Alinha os botões verticalmente */
  gap: 50px; /* Define o espaçamento entre os botões */
  height: 5px;
}

.navbar-buttons button {
  padding: 10px 20px; /* Adiciona espaçamento interno para os botões */
  font-size: 16px; /* Ajusta o tamanho da fonte */
  background-color: #ffffff; /* Cor de fundo do botão */
  color: #010b67; /* Cor do texto */
  border: 1px solid #010b67; /* Borda do botão */
  border-radius: 5px; /* Arredondamento dos cantos */
  cursor: pointer; /* Mostra o cursor de clique */
  transition: background-color 0.3s, color 0.3s; /* Animações suaves */
  height: 45px;
  width: 150px;
}

.navbar-buttons button:hover {
  background-color: #545ebd; /* Cor de fundo ao passar o mouse */
  color: #ffffff; /* Cor do texto ao passar o mouse */
}

/* Estilo do ícone de logout */
.logout-icon {
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
  font-size: 30px;
}

.logout-icon:hover {
  color: #c82333; /* Cor ao passar o mouse */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 5%;
  }

  .navbar h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  .search-box {
    width: 100%;
    padding: 8px 15px;
    border-radius: 30px;
  }

  .search-box input {
    font-size: 16px;
  }
}
