.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: rgb(1, 11, 103);
  padding: 15px 7%;
}
.navbar h2 {
  margin: 0;
  color: #fff;
}

.search-box {
  display: flex;
  align-items: center;
  width: 750px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background: #d9d8d8;
  padding: 10px 20px;
  border-radius: 50px;
}
.search-box input {
  flex: 1;
  background: transparent;
  color: black;
  border: 0;
  outline: 0;
  font-size: 18px;
  margin-left: 10px;
}
/* Estilo do ícone de logout */
.logout-icon {
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s;
  font-size: 30px;
}

.logout-icon:hover {
  color: #c82333; /* Cor ao passar o mouse */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 5%;
  }

  .navbar h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  .search-box {
    width: 100%;
    padding: 8px 15px;
    border-radius: 30px;
  }

  .search-box input {
    font-size: 16px;
  }
}
